body {
  width: 100vw;
  background-color: var(--Gris-claro);
 
}
main{
  margin: 10px;
}

.header_logo_compras img{
  width: 40%;
}

.header_logo_compras{
display: flex;
flex-direction: column;
justify-content: space-around;

padding:10%;
}

.header_logo_compras div{
  padding: 5%;

}

.section-banner img {
  width: 100vw;
}



.article_seccion_ultima_visita img {
  width: 100%;
}

.home_main_setion_article_div {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
 
  padding: 15px;
}

.h2-Seccion_Ofertas{
color: var(--Gris-oscuro);
font-size: 24px;
}

.h2-Seccion_ultima_vista{
  color: var(--Gris-oscuro);
  font-size: 24px;
}

.Texto_precio{
  padding-top: 3%;
font-size: 18px;


}

.Texto_descuento{
  padding-top: 3%;
color: var( --color-Verde);
font-size: 16px;

}

.Texto_nombre_producto{
width: 100%;
margin-bottom: 3%;
font-size: 16px;
}
main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
 margin-left:  100px;
  top: -30px;
  
  
  
  }
main section article div {
  position: relative;

}
