.form-registro{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 2px solid black;
    width: 50%;
    height: 100%;
    padding: 2%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
   font-family: "roboto";
 margin: 10% 22%;

 background-color: rgb(100, 100, 100);
 color: aliceblue;



}


.form-registro article{



    padding: 1%;
}

input{
    border-radius: 30px;
}

